[submodule "addons/native/ProjectHeartbeatDiscord"]
	path = addons/native/ProjectHeartbeatDiscord
	url = https://github.com/EIRTeam/ProjectHeartbeatDiscord.git
[submodule "addons/native/audio_utils"]
	path = addons/native/audio_utils
	url = https://github.com/EIRTeam/godot_ebur128.git
